- head = login? ? current_user.code : DEFAULT_HEADER
%div{"data-context" => "a#default", "data-hash" => "crumbs", "data-id" => "menu", "data-role" => "panel"}
  #main{"data-role" => "page"}
    %div{"data-role" => "header", "data-theme" => "b", "data-backbtn"=>"false"}
      %h1= head
    %div{"data-role" => "content"}
      %ul{"data-role" => "listview", "data-theme" => "g"}
        %li
          %a{"data-panel" => "main", :href => "/mindapp"} Home
        = render :partial => "mindapp/menu_mm"
        - if login?
          %li
            %a{:href=>"/mindapp/pending", "data-panel" => "main"} Pending Tasks
          %li
            %a{"data-panel" => "main", :href => logout_path, "data-ajax"=>"false"} Sign Out
        - else
          %li
            %a{:href=>new_session_path, "data-panel" => "main"} Sign In
          %li
            %a{:href=>new_identity_path, "data-panel" => "main"} Sign Up
        %li
          = link_to "Refresh", "#", :onclick=>"window.location.replace('/')"
