%div(style="text-align:center")
  = image_tag "logo_mindapp.png"
%h2 การติดตั้ง
%ul
  %li 
    ติดตั้ง Google Chrome โดยดาวน์โหลดจาก
    = link_to "https://www.google.com/chrome", "https://www.google.com/chrome", :target=>"_blank"
  %li etc.
%h2 การใช้งาน
%ul
  %li aaa
  %li
    bbb
    %ul
      %li bb1
      %li bb2
%h2 ผู้ดูแลระบบ
%ul
  %li การทำสำรองข้อมูล
  %li การบูรณาการข้อมูลกลาง
