%div(style="text-align:center")
  = image_tag "logo_mindapp.png"

%h2 Requirements
%ul
  %li Rails 3.2
  %li Rubygems 1.8

%h2 Installation
%ul
  %li gem 'mindapp', may need to uncomment therubyracer
  %li bundle
  %li rails generate mindapp:install
  %li rake db:seed, will create initial user admin:secret
  %li when update app/mindapp/index.mm, run rake mindapp:update
