<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="distribution" content="global" />
  <meta name="robots" content="follow, all" />
  <meta name="language" content="en, th" />
  <title>eLocal</title>
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag "mindapp", "sarabun" %>
  <meta name="description" content="Mindapp" />
  <%= javascript_include_tag "jquery.tools.min.js"  %>
  <%= javascript_include_tag "application", "flashobject", "FusionCharts"  %>
</head>
