- if @cache
  - cache = {}
- else
  - cache = {"data-cache"=>"never"}
- if @backbtn
  - backbtn= {"data-backbtn"=>"true"}
- else
  - backbtn= {"data-backbtn"=>"false"}
%div{{"data-role" => "page"}.merge(cache) }
  %div{{"data-role" => "header"}.merge(backbtn)}
    %h1= @title || DEFAULT_TITLE
  %div{"data-role" => "content"}
    = yield

:javascript
  document.title= "#{@title}";
