<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
    <link rel="apple-touch-icon" href="/images/wwp57.png"/>
    <title>Worldwaypoint</title>
    <%= stylesheet_link_tag 'mobile', 'molengo'  %>
  </head>
  <body onorientationchange="updateOrientation();">
    <%= yield %>
  </body>
</html>